mlflow
jupyter==1.0.0
jupyter-client==7.2.0
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
scikit-learn
pandas
seaborn
hyperopt
xgboost
fastparquet
boto3
